/* Add a sky blue background color to the body background */
body{
	margin: 0;
	padding: 0;
    font-family: 'Fira Sans', sans-serif;
 

    
}

.block {

    width: 100%;
    height: 740px;
    background: linear-gradient(rgb(10, 10, 65), rgb(148, 23, 71));

}

.logo {


position: absolute;
left: 15%;
top: 50px;


}

.logol {

    width: 150px;
    height: 150px;

}

.zapis {

position: absolute;
left: 155px;
top: 65px;

}

.zapisi {

color: #fff;
font-weight: bold;
font-size: 25px;

}




ul {

    position:absolute;/* set the position of the navigation bar*/
	top: 13.5%;
	left: 48%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 20px 0; /* Adding some padding */
	display: flex; /* flex Set navigation bar horizontally using the  display tag*/

}

ul li{
	list-style: none;
	text-align: center;
	display: block;


}

ul li a{
	text-decoration: none;
	padding: 0 50px;
	display: block;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}



.knop {

    width: 200px;
    height: 50px;
    background: none;
    border-color: rgb(255, 0, 128);
    color: #fff;
    font-weight: bolder;
    font-size: medium;
    border-radius: 20px;
    box-shadow: none;
    margin-top: 5.6%;
    margin-left: 67%;
    cursor: pointer;
    
    }




.glaw {
    
margin: 0;
margin-top: 9%;
color: #fff;
font-size: 65px;
margin-left: 18%;
    
}

.glaw1 {

margin: 0;
position: absolute;
margin-top: 0%;
color: #fff;
font-size: 25px;
margin-left: 18%;
font-weight: lighter;
font-family: Arial, Helvetica, sans-serif
        
}

.glaw2 {

position: absolute;
margin: 0;
margin-top: 150px;
margin-left: 18%;
width: 200px;
height: 50px;
background: none;
border-color: rgb(255, 0, 128);
color: #fff;
font-weight: bolder;
font-size: medium;
border-radius: 20px;
box-shadow: none;
cursor: pointer;
            
            
}

.glaw3 {

position: absolute;
margin: 0;
width: 480px;
height: 480px;    
top: 250px;
left: 55%;
                
              

}



@media (max-width: 1697px) {

.zapisi {

font-size: 21px;

}

ul {


width: auto;
height: auto;
top: 13.7%;

}

ul li a {

padding: 0 30px;

}

.knop {

margin-top: 6.4%;


}

.glaw {


margin-top: 5%;
font-size: 45px;
width: auto;

}

.glaw1 {

width: auto;
font-size: 15px;

}

.glaw2 {

margin-top: 80px;

}


.glaw3 {

width: 280px;
height: 280px;
left: 45%;

}

}

@media (max-width: 1540px) {


.knop {

margin-top: 7%;
        
        
        }


}


@media (max-width: 1175px) {


.knop {
    
margin-top: 8.8%;
            
            
}
    
    
}


@media (max-width: 1195px) {

.knop {
    
margin-top: 9.8%;
                    
                    
}

.logo {


    position: absolute;
    left: 12%;
    top: 70px;
    
    
    }
    
    .logol {
    
        width: 120px;
        height: 120px;
    
    }
    
    .zapis {
    
    position: absolute;
    left: 135px;
    top: 45px;
    
    }

    .glaw3 {

        width: 280px;
        height: 280px;
        left: 55%;
        
        }


        .glaw {
    
            margin-top: 11%;
            margin-left: 19%;
                
            }
            
            .glaw1 {
            margin-top: 1%;
            margin-left: 19%;

                    
            }
            
            .glaw2 {
            
           
            margin-top: 100px;
            margin-left: 19%;
                        
                        
            }

}

@media (max-width: 1000px) {


ul {

left: 38%;

}

    ul li a {

        padding: 0 10px;
        
        }

        .ul {

            top: 15%;
            
            }

.logo {

top: 0;
left: 0;

}

}







@media (max-width: 767px) {



.knop {

margin-top: 5%;
margin-left: 58%;


}

}


@media (max-width: 767px) {

    .glaw3 {

        width: 280px;
        height: 280px;
        left: 45%;
        
        }


        .glaw {
    
            margin-top: 11%;
            margin-left: 4%;
                
            }
            
            .glaw1 {
            margin-top: 1%;
            margin-left: 4%;

                    
            }
            
            .glaw2 {
            
           
            margin-top: 100px;
            margin-left: 4%;
                        
                        
            }


}


@media (max-width: 500px) {

.glaw3 {

    left: 7%;
    top: 48%;

}

.glaw {

margin-top: 29%;
margin-left: 13%;
font-size: 35px;

}

.glaw1 {

margin-top: 0%;
margin-left: 13%;

}

.glaw2 {

margin-top: 90px;
margin-left: 13%;

}

}



@media (max-width: 399px) {
  

ul {

display: none;

}

.knop {

width: 120px;
margin-left: 38%;
margin-top: 35px;

}

.zapis {

display: none;

}

.glaw {

margin-left: 2%;
font-size: 25px;
margin-top: 15%;

}

.glaw1 {

    margin-left: 2%;

    margin-top: 3%;
    
    }

    .glaw2 {

        margin-left: 2%;

        margin-top: 28%;
        
        }

.glaw3 {

left: -6%;


}



}


@media (max-width: 280px) {

.glaw2 {

    margin-top: 38%;
    
}

.knop {

    margin-left: 41%;

}

}

